@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.nav-menu{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;   
    
}

.nav-menu1 ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu1 ul li {
    margin: 10px 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.nav-menu2 ul{
    display: flex;
    justify-content: center;
}

.nav-menu1{
    margin-right: 10%;
}

.nav-menu2{
    margin-right: 10%;
}
.nav-menu2 ul li {
    margin: 10px 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
}



.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}


.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
    margin-right: auto;
}

@media only screen and (max-width: 968px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4.5rem;
        align-items: center;
        justify-content: center;
        height: 25%;
        flex-direction: column;
        background-color: rgb(183, 169, 247);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .garis{
        background-color: #101010;
        width: 40%;
        height: 10px;
        margin-top:5% ;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-menu1{
        display: flex;
        justify-content: center;
        align-self:center;
        margin: 0;
        margin-top: 1%;
    }

    .nav-menu2{
        display: flex;
        justify-content: center;
        align-self:center;
        text-align: left;
        margin: 0;
    }

    .nav-menu2 ul {
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        margin: 31px 0;
    }
    
    .nav-menu2 li  a{
        margin: 0 10px;
        flex-basis: calc(50% - 20px);  /* width minus margins */
    }
    
    .nav-menu2 a {
        width: 100%;                   /* occupy 100% width of li container */
        height: auto;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}
